@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


@media(min-width: 320px) {

    .section1 {
        height: 100vh;
        max-height: 670px;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        background-color: #fff9fd;
    }
    
    
    .section1 .logo {
        width: 95%;
        max-width: 405px;
    }
    
    .section1 .button-area {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    
    .section1 .button-area h4{
        font-family: Montserrat;
        font-weight: 400;
    }
    
    .section1 .button-area a{
        font-family: Montserrat;
        font-weight: 400;
        text-decoration: none;
        padding: 15px;
        background-color: #8cd0e3;
        border-radius: 25px;
        margin-top: 15px;
        color: #fff;
    }

    .section1 .picture-magda {
        width: 90%;       
        max-width: 405px;
        margin-left: auto;
    }

}

@media(min-width: 390px) {

    .section1 {
        max-height: 100vh;
    }

    .section1 .picture-magda {
        width: 100%;       
    }
}