@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.mostrar {
    display: block !important;
}

.mostrarMenu {
    display: flex !important;
}

.girar {
    rotate: 45deg;
}


@keyframes grow {
    0% {
        font-size: 16px;
    }

    50% {
        font-size: 18px;
    }

    100% {
        font-size: 16px;
    }
}





















body {
    background-color: #fff9fd;
    
}

.btn-fixo-whats {
    position: fixed;
    bottom: 0;
    right: 0;
    z-index: 9990;
}



main .btn-area-celular{
    width: 100vw;
    height: 100vh;

    display: none;
    flex-direction: column;
    justify-content:  space-evenly;
    align-items: center;

    position: fixed;
    top: 0;
    left: 0;
    z-index: 9999;
    background-color: rgba(54, 54, 54, 0.747);
    transition: ease 1.5s;
}

main .btn-area-celular .fechar-menu {
    width: 50px;
    rotate: 45deg;
}

main .btn-area-celular ul{
    display: flex;
    flex-direction: column;
    font-family: Montserrat;
    text-align: center;
    width: 80%;
}

main .btn-area-celular ul a{
    text-decoration: none;
    color: #000;
    background-color: #cff5ff;
    margin: 15px 0px;
    padding: 15px 0px;
    border-radius: 20px;
}

main .btn-area-celular .social-area {
    display: flex;
    width: 100%;
    justify-content: space-around;
}

main .btn-area-celular .social-area img{
    width: 70px;
}


.menu-area {
    width: 100vw;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9990;
    background-color: #fff9fd;
    box-shadow: 2px 0px 5px #000;

}

.menu-area .content {
    max-width: 1200px;
    margin: auto;
    padding: 10px 0px;
}

.menu-area .content .img-area {
    display: flex;
    align-items: center;
    justify-content: space-around;
}




.section1 .content,
.section2 .content,
.section3 .content,
.section4 .content,
.section5 .content,
.section6 .content,
.section7 .content,
footer .content {
    max-width: 1200px;
    margin: auto;
}

@media(min-width: 320px) {
    
    .btn-fixo-whats img {
        width: 60px;
        margin: 10px;
    }

    .menu-area .logo {
        width: 250px;
    }

    .menu-area .content .menu-btn {
        width: 30px;
        height: 30px;
    }

    .menu-area .content .btn-area {
        display: none;
    }

    .menu-area .content .img-area .social-area {
        display: none;
    }

    .section1 .content {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 0px auto;
        padding: 150px 0px 50px 0px;
    }

    .section1 .text-img {
        width: 100%;
    }

    .section1 .logo {
        width: 95%;
        max-width: 330px;
    }
    
    .section1 .text-area {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
    }
    
    .section1 .text-area h3{
        font-family: Montserrat;
        font-weight: 400;
        font-weight: bold;
        margin-bottom: 5px;
    }

    .section1 .text-area p{
        font-family: Montserrat;
        font-size: 12px;
    }

    .section1 .text-area h4{
        font-family: Montserrat;
        font-weight: 400;
        margin-top: 40px;
        font-size: 16px;
    }
    
    .button-area{
        height: 60px;
        display: flex;
        align-items: center;
    }

    .button-area a{
        font-family: Montserrat;
        font-weight: 500;
        text-decoration: none;
        padding: 10px;
        background-color: #00c03d;
        border-radius: 25px;
        color: #fff;
        font-size: 14px;
        transition: ease 0.2s;

        display: flex;
        align-items: center;
    }

    .button-area a img{
        width: 45px;
        margin-right: 10px;
    }

    .button-area a:hover {
        padding: 18px;
        font-size: 24px;
        border-radius: 28px;
    }

    .section1 .picture-area {
        display: flex;
        justify-content: flex-end;
        filter: drop-shadow(2px 2px 10px rgba(0, 0, 0, 0.123));

    }

    .section1 .picture-magda {
        width: 90%;       
        max-width: 315px;
        margin-top: 15px;
    }









    .section2 {
        background-color: #8cd0e3;
    }

    .section2 .content {
        padding: 50px 15px;
        display: flex;
        flex-direction: column;
        align-items: center;
        font-family: Montserrat;
        text-align: justify;
    }

    .section2 .content .title {
        text-align: center;
        font-size: 14px;
    }

    .section2 .content .title strong {
        font-size: 20px;
    }

    .section2 .content p {
        margin-top: 40px;
        line-height: 24px;
        font-size: 14px;
    }

    .section2 .video-area {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        font-size: 14px;
        margin-top: 60px;
        max-width: 900px;
    }

    .section2 .video {
        position: relative;
        width: 100%;
        padding-bottom: 56.25%;
        margin-top: 20px;
    }

    .section2 .video iframe{
        filter: drop-shadow(2px 2px 10px rgba(0, 0, 0, 0.123));
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }

    .ytp-embed:not(.ad-showing) .ytp-title-text {
        display: none !important;
      }









    .section3 .content {
        padding: 50px 15px;
        display: flex;
        flex-direction: column;
        align-items: center;
        font-family: Montserrat;
        text-align: justify;
    }

    .section3 .content .title{
        border-bottom: 2px solid #000;
        margin-bottom: 20px;
    }

    .section3 .picture-magda2 {
        width: 60%;
        min-width: 200px;
        max-width: 300px;
        margin: 40px 0px;
        border-radius: 50%;
        filter: drop-shadow(2px 2px 10px rgba(0, 0, 0, 0.253));

    }

    .section3 .myself p{
        margin-top: 10px;
        line-height: 24px;
        font-size: 14px;
    }

    .section3 .myself p {
        margin-top: 0px;
    }

    .section3 .botao-verMais {
        display: flex;
        justify-content: flex-end;
        margin-top: 10px;
        width: 100%;
    }

    .section3 .botao-verMais div {
        background-color: #8cd0e3;
        color: #fff;
        padding: 5px;
        border-radius: 5px;
    }

    .section3 .missao,
    .section3 .valores{
        margin-top: 40px;
        width: 100%;
    }

    .section3 .missaoTitle,
    .section3 .valoresTitle {
        display: flex;
        margin-left: 20px;
    }

    .section3 .bolinha-esquerda {
        width: 35px;
        height: 35px;
        background-color: #8cd0e3;
        border-radius: 50%;
        margin-top: -5px;
        margin-right: -25px;
    }

    .section3 .missao p,
    .section3 .valores p {
        margin-top: 20px;
        line-height: 24px;
        font-size: 14px;
        text-align: left;
    }

    .section3 .valores p {
        margin-bottom: 30px;
    } 












    .section4{
        background-color: #cff5ff;
    }

    .section4 .content {
        padding: 50px 15px;
        display: flex;
        flex-direction: column;
        align-items: center;
        font-family: Montserrat;
        text-align: justify;
    }

    .section4 .content .title{
        border-bottom: 2px solid #000;
        margin-bottom: 20px;
    }

    .section4 .content .oQueE{
        width: 100%;
        margin-top: 40px;
    }

    .section4 .content .minhaAbordagem {
        margin-top: 30px;
        width: 100%;
    }

    .section4 .content .minhaAbordagemTitle h2{
        font-size: 20px;
    }

    .section4 .content .oQueE p,
    .section4 .content .minhaAbordagem p{
        line-height: 24px;
        font-size: 14px;
    }


    .section4 .content .TCC {
        margin: 50px 0px;
        width: 100%;
    }

    .section4 .content .TCC h2{
        font-size: 24px;
        text-align: center;
    }


    .section4 .content .TCC .tcc-box-area {
        margin: 35px auto 0px auto ;
        max-width: 950px;
    }

    .section4 .content .TCC .box {
        width: 100%;
        background-color: #fff9fd;
        font-weight: bold;

        box-shadow: 0px 0px 10px #00000073;
        border-radius: 10px;

        overflow: hidden;
        height: 55px;
        transition: ease 0.5s;
    }

    .section4 .content .TCC .box:nth-child(2) {
        margin: 40px 0px;
    }

    .section4 .content .TCC .box .botao{
        margin: auto;
        display: flex;
        justify-content: space-between;
        align-items: center;
        cursor: pointer;
        padding: 10px;
        border-bottom: 1px solid #afafaf;
    }

    .section4 .content .TCC .box img{
        width: 35px;
        transition: ease 0.5s;
    }

    .section4 .content .TCC .box p{
        line-height: 24px;
        font-size: 14px;
        font-weight: lighter;
        padding: 10px;
    }


    .section4 .content .Tratamento {
        line-height: 24px;
        font-size: 14px;
        margin-bottom: 30px;
    }

    .section4 .content .Tratamento h2 {
        text-align: center;
        font-size: 24px;
    }

    .section4 .content .Tratamento .tratamento-area {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        margin: 35px auto;
    }

    .section4 .content .Tratamento .tratamento-area img {
        width: 100%;
        height: 250px;
    }

    .section4 .content .Tratamento .tratamento-box {
        filter: drop-shadow(0px 0px 10px rgba(0, 0, 0, 0.295));
        background-color: #fff9fd;
        margin: 5px;
        max-width: 400px;
    }

    .section4 .content .Tratamento .tratamento-text-box {
        padding: 10px;
    }

    .section4 .content .Tratamento .tratamento-text-box h3 {
        margin: 5px 0px 15px 0px;
    }

    .section4 .content .Tratamento .tratamento-text-box p {
        line-height: 24px;
        font-size: 14px;
        text-align: left;
    }
    



















    .section5 {
        background-color: #fff;
    }
    
    .section5 .content {
        padding: 50px 15px;
        display: flex;
        flex-direction: column;
        align-items: center;
        font-family: Montserrat;
        text-align: justify;
    }

    .section5 .content .title{
        border-bottom: 2px solid #000;
        margin-bottom: 20px;
    }

    .section5 .content .comoFunciona{
        margin-top: 40px;
        width: 100%;
    }

    .section5 .content .confiavelEEficaz {
        margin-top: 30px;
    } 

    .section5 .content .comoFuncionaTitle h2,
    .section5 .content .confiavelEEficazTitle h2{
        font-size: 20px;
    }

    .section5 .content .comoFunciona p,
    .section5 .content .confiavelEEficaz p {
        margin-top: 10px;
        line-height: 24px;
        font-size: 14px;
    }

    .section5 .picture-atendimento{
        width: 100%;
        max-width: 680px;
        margin: 50px 0px;
    }
    














    .section6 {
        background-color: #cff5ff;
    }

    .section6 .content {
        padding: 50px 15px;
        display: flex;
        flex-direction: column;
        align-items: center;
        font-family: Montserrat;
        text-align: justify;
    }

    .section6 .content .title{
        border-bottom: 2px solid #000;
        margin-bottom: 20px;
    }

    .section6 .depoimento-area {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        margin-top: 40px;
    }

    .section6 .depoimento-box{
        width: 100%;
        max-width: 400px;
        background-color: #fff9fd;
        margin: 5px;
        border-radius: 10px;
        display: flex;
        flex-direction: column;
    }

    .section6 .depoimento-box:nth-child(1),
    .section6 .depoimento-box:nth-child(2) {
        display: none;
    }

    .section6 .depoimento-box .data{
        display: flex;
        justify-content: space-between;
        align-items: flex-end;
    }

    .section6 .depoimento-box .data img{
        width: 60px;
        transform: rotate(180deg);
    }

    .section6 .depoimento-box .data h3{
        margin-right: 20px;
    }

    .section6 .depoimento-box .nome{
        margin-top: 10px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .section6 .depoimento-box .nome h2 {
        margin-left: 20px;
        font-size: 28px;
    }

    .section6 .depoimento-box .nome img{
        margin-right: 15px;
    }

    .section6 .depoimento-box .caixa-texto {
        width: 95%;
        padding: 10px;
        border-radius: 20px;
        margin: 10px;
    }

    .section6 .depoimento-box .caixa-texto p{
        line-height: 24px;
        font-size: 14px;
        text-align: left;
    }

    .section6 .agradecimento {
        margin: 30px 0px;
        line-height: 24px;
        font-size: 14px;
    }






    .section7 .content {
        padding: 50px 15px;
        display: flex;
        flex-direction: column;
        align-items: center;
        font-family: Montserrat;
        text-align: justify;
    }

    .section7 .content .title{
        border-bottom: 2px solid #000;
        margin-bottom: 20px;
    }

    .section7 .duvidas-area {
        display: flex;
        flex-direction: column;
        margin-top: 50px;
        width: 100%;
        max-width: 950px;
    }

    .section7 .duvidas-box {
        box-shadow: 0px 0px 10px #00000073;
        margin-bottom: 20px;
        border-radius: 10px;
        overflow: hidden;
        height: 55px;

        transition: ease-in-out 0.5s;
    }

    .section7 .duvidas-box .botao {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        cursor: pointer;
        padding: 10px;
        border-bottom: 1px solid #afafaf;
    }

    .section7 .duvidas-box img {
        width: 35px;
        transition: ease 0.5s;
    }

    .section7 .duvidas-box p {
        padding: 10px;
        border-bottom-right-radius: 10px;
        border-bottom-left-radius: 10px;
        line-height: 28px;
        background-color: #cff5ff;
    }

    footer {
        background-color: #8cd0e3;
        padding: 15px;
    }

    footer .content {
        display: flex;
        flex-direction: column;
        align-items: center;
        font-family: Montserrat;
    }

    footer .content .mensagem .atencao {
        font-size: 18px;
    }

    footer .content .mensagem p{
        margin-bottom: 10px;
        text-align: center;
        font-size: 14px;
        line-height: 24px;
    }
}

@media(min-width: 330px) {
    .section7 .duvidas-box img {
        width: 35px;
    }
}

@media(min-width: 375px) {
    .menu-area .logo {
        width: 275px;
    }
}


@media(min-width: 390px) {
    
    .button-area a{
        padding: 15px;
        font-size: 18px;
    }



    .section1 .logo {
        max-width: 450px;
    }

    .section1 .text-area p{
        font-size: 14px;
    }

    .section1 .text-area h4 {
        margin-top: 70px;
    }

    .section1 .picture-magda {
        width: 90%;       
        max-width: 465px;
    }

    .section2 .content .title strong {
        font-size: 24px;
    }

}

@media (min-width: 425px) {
    
    .menu-area .logo {
        width: 300px;
    }

    .menu-area .content .menu-btn {
        width: 35px;
        height: 35px;
    }
    
    .section1 .text-area h3 {
        font-size: 22px;
    }

    .section1 .text-area p {
        font-size: 16px;
    }
}

@media (min-width: 768px) {
    
    .btn-fixo-whats img {
        width: 70px;
        margin: 20px;
    }

    .menu-area .logo {
        width: 350px;
    }

    .menu-area .content {
        padding-bottom: 0px;
    }

    .menu-area .content .menu-btn {
        display: none;
    }
    
    .menu-area .content .img-area .social-area {
        display: flex;       
        justify-content: center;
        align-items: center;
    }

    .menu-area .content .img-area .social-area div{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 50px;     
    }

    .menu-area .content .img-area .social-area img{
        width: 40px;
        transition: ease 0.1s;
    }

    .menu-area .content .img-area .social-area img:hover{
        width: 45px;
    }

    .menu-area .content .btn-area {
        display: block;
        margin-top: 15px;
    }

    .menu-area .content .btn-area ul{
        display: flex;
        list-style: none;
        justify-content: center;
        font-family: Montserrat;
        font-size: 18px;
    }

    .menu-area .content .btn-area ul a {
        text-decoration: none;
        color: #000;
        padding: 10px 15px;
        transition: ease 0.2s;
    }

    .menu-area .content .btn-area ul a:hover{
        background-color: #8cd0e3;
    }

    .button-area{
        margin-top: 10px;
    }
    
    .button-area a{      
        font-size: 20px;
    }
    
    .title {
        font-size: 28px;
    }

    .section1 .content {
        padding: 250px 0px 50px;
    }

    .section1 .text-area h3 {
        font-size: 26px;
    }

    .section1 .text-area h4 {
        margin-top: 65px;
        font-size: 18px;
    }

    .section1 .text-area p {
        font-size: 18px;
    }
    
    .section2 .content .title strong {
        font-size: 32px;
    }

    .section2 .content .title {
        font-size: 18px;
    }

    .section2 .content p {
        font-size: 18px;
        line-height: 32px;
    }
    
    .section2 .video-area {
        font-size: 18px;
    }

    
    .section3 .myself p {
        line-height: 32px;
        font-size: 18px;
    }

    .section3 .valores-area {
        display: flex;
        margin-bottom: 20px;
    }

    .section3 .valores {
        margin-left:30px;
    }

    .section3 .missao {
        margin-right: 30px;
    }

    .section4 .content .Tratamento {
        line-height: 32px;
        font-size: 18px
    }

    .section4 .content .minhaAbordagemTitle h2 {
        font-size: 21px;
        margin-bottom: 10px;
    }

    .section4 .content .oQueE p, 
    .section4 .content .minhaAbordagem p {
        line-height: 32px;
        font-size: 18px;
    }

    .section4 .content .TCC .box .botao {
        font-size: 18px;
    }

    .section4 .content .TCC .box p {
        font-size: 16px;
        
    }

    .section4 .content .Tratamento .tratamento-box {
        max-width: 355px;
    }

    .section5 .content .comoFuncionaTitle h2, 
    .section5 .content .confiavelEEficazTitle h2 {
        font-size: 24px;
    }

    .section5 .content .comoFunciona p, 
    .section5 .content .confiavelEEficaz p {
        line-height: 32px;
        font-size: 18px;
    }

    .section6 .depoimento-box {
        max-width: 350px;
    }

    .section6 .depoimento-box:nth-child(1),
    .section6 .depoimento-box:nth-child(2) {
        display: block;
    }

    .section6 .agradecimento {
        line-height: 32px;
        font-size: 16px;
        text-align: center;
    }

    .section7 .duvidas-box {
        font-size: 18px;
    }
}


@media (min-width: 1024px) {  

    .btn-fixo-whats img {
        width: 80px;
        margin: 25px;
    }

    .button-area a{       
        font-size: 22px;
    }
   
   
    .section1 .content {
        display: flex;
        flex-direction: column;
        justify-content: center;
        height: 700px !important;
        padding: 100px 0px 0px;
    }

    .section1 .logo {
        max-width: 550px;
    }

    .section1 .text-img {
        display: flex;
        height: 400px;
        margin-top: 70px;
        justify-content: space-between;
    }

    .section1 .text-area {
        width: 55%;
        margin-top: 0px;
    }

    .section1 .picture-area {
        display: flex;
        justify-content: flex-end;
        width: 465px;
    }

    .section1 .picture-magda {
        width: 100%;
        margin-top: 0px;
    }

    .section2 {
        margin-top: 0px;
    }


    .section3 .missao p, 
    .section3 .valores p {
        margin-top: 20px;
        line-height: 24px;
        font-size: 16px;
    }

    .section4 .content .Tratamento .tratamento-box {
        max-width: 400px;
    }

    .section6 .depoimento-box {
        max-width: 400px;
    }
}

@media (min-width: 1270px) {
    .section1 .picture-magda {
        max-width: 640px;
    }
}