@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}

.mostrar {
    display: block !important;
}

.girar {
    rotate: 45deg;
}

@keyframes grow {
    0% {
        font-size: 16px;
    }

    50% {
        font-size: 18px;
    }

    100% {
        font-size: 16px;
    }
}

body {
    background-color: #fff9fd;
    
}

nav {
    display: none;
    position: fixed;
    height: 100vh;
    width: 80px;
    border-right: 3px solid #8cd0e3;
    background-color: #fff9fd;
}

nav ul {
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    list-style: none;
}

nav ul a{
    margin: 10px 0px;
}

nav ul li {
    width: 80px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px 0px;
}

nav ul li:hover {
    background-color:#8cd0e3;
}

nav ul li img {
    width: 40px;
    height: 40px;
}

.section1 .content,
.section2 .content,
.section3 .content,
.section4 .content,
.section5 .content,
.section6 .content,
.section7 .content,
footer .content {
    max-width: 1200px;
    margin: auto;
}

@media(min-width: 320px) {
    .section1 .content {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        margin: 0px auto;
        padding: 50px 0px;
    }

    .section1 .text-img {
        width: 100%;
    }

    .section1 .logo {
        width: 95%;
        max-width: 330px;
    }
    
    .section1 .text-area {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
        margin-top: 40px;
    }
    
    .section1 .text-area h3{
        font-family: Montserrat;
        font-weight: 400;
        font-weight: bold;
        margin-bottom: 5px;
    }

    .section1 .text-area p{
        font-family: Montserrat;
        font-size: 12px;
    }

    .section1 .text-area h4{
        font-family: Montserrat;
        font-weight: 400;
        margin-top: 40px;
        font-size: 16px;
    }
    
    .button-area{
        height: 60px;
        display: flex;
        align-items: center;
    }

    .button-area a{
        font-family: Montserrat;
        font-weight: 500;
        text-decoration: none;
        padding: 15px;
        background-color: #8cd0e3;
        border-radius: 25px;
        margin: 10px 0px;
        color: #fff;
        animation: grow 3s infinite;
    }

    .section1 .picture-area {
        display: flex;
        justify-content: flex-end;
    }

    .section1 .picture-magda {
        width: 90%;       
        max-width: 315px;
        margin-top: 15px;
    }









    .section2 {
        background-color: #8cd0e3;
    }

    .section2 .content {
        padding: 50px 15px;
        display: flex;
        flex-direction: column;
        align-items: center;
        font-family: Montserrat;
        text-align: justify;
    }

    .section2 .content .title {
        text-align: center;
        font-size: 14px;
    }

    .section2 .content .title strong {
        font-size: 20px;
    }

    .section2 .content p {
        margin-top: 40px;
        line-height: 24px;
        font-size: 14px;
    }

    .section2 .video-area {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        font-size: 14px;
        margin-top: 60px;
    }

    .section2 .video {
        margin-top: 20px;
        width: 100%;
        max-width: 475px;
        height: 225px;
        background-color: black;
    }





    .section3 .content {
        padding: 50px 15px;
        display: flex;
        flex-direction: column;
        align-items: center;
        font-family: Montserrat;
        text-align: justify;
    }

    .section3 .content .title{
        border-bottom: 2px solid #000;
    }

    .section3 .picture-magda2 {
        width: 60%;
        min-width: 200px;
        max-width: 300px;
        margin-top: 35px;
        border-radius: 50%;
    }

    .section3 .myself {
        margin-top: 20px;
    }

    .section3 .myself p{
        margin-top: 10px;
        line-height: 24px;
        font-size: 14px;
    }

    .section3 .myself p {
        margin-top: 0px;
    }

    .section3 .botao-verMais {
        display: flex;
        justify-content: flex-end;
        margin-top: 10px;
        width: 100%;
    }

    .section3 .botao-verMais div {
        background-color: #8cd0e3;
        color: #fff;
        padding: 5px;
        border-radius: 5px;
    }

    .section3 .missao,
    .section3 .valores{
        margin-top: 40px;
        width: 100%;
    }

    .section3 .missaoTitle,
    .section3 .valoresTitle {
        display: flex;
        margin-left: 20px;
    }

    .section3 .bolinha-esquerda {
        width: 35px;
        height: 35px;
        background-color: #8cd0e3;
        border-radius: 50%;
        margin-top: -5px;
        margin-right: -25px;
    }

    .section3 .missao p,
    .section3 .valores p {
        margin-top: 20px;
        line-height: 24px;
        font-size: 14px;
    }

    .section3 .valores p {
        margin-bottom: 30px;
    } 












    .section4{
        background-color: #cff5ff;
    }

    .section4 .content {
        padding: 50px 15px;
        display: flex;
        flex-direction: column;
        align-items: center;
        font-family: Montserrat;
        text-align: justify;
    }

    .section4 .content .title{
        border-bottom: 2px solid #000;
    }

    .section4 .content .oQueE{
        width: 100%;
        margin-top: 20px;
    }

    .section4 .content .minhaAbordagem {
        margin-top: 30px;
        width: 100%;
    }

    .section4 .content .minhaAbordagemTitle h2{
        font-size: 20px;
    }

    .section4 .content .oQueE p,
    .section4 .content .minhaAbordagem p{
        margin-top: 10px;
        line-height: 24px;
        font-size: 14px;
    }


    .section4 .content .TCC {
        margin-top: 50px;
        width: 100%;
    }

    .section4 .content .TCC h2{
        font-size: 24px;
        text-align: center;
    }


    .section4 .content .TCC .tcc-box-area {
        margin: 50px auto ;
        max-width: 950px;
    }

    .section4 .content .TCC .box {
        margin: 5px 0px;
        width: 100%;
        background-color: #fff9fd;
        padding: 5px;
        font-weight: bold;
    }

    .section4 .content .TCC .box:nth-child(2) {
        margin: 40px 0px 40px 0px;

    }

    .section4 .content .TCC .box .botao{
        margin: auto;
        display: flex;
        justify-content: space-between;
        align-items: center;
        cursor: pointer;
    }

    .section4 .content .TCC .box img{
        width: 35px;
    }

    .section4 .content .TCC .box p{
        margin-top: 10px;
        line-height: 24px;
        font-size: 14px;
        font-weight: lighter;
        display: none;
        padding: 5px;
        
    }


    .section4 .content .Tratamento {
        line-height: 24px;
        font-size: 14px;
        margin-bottom: 30px;
    }

    .section4 .content .Tratamento h2 {
        text-align: center;
        font-size: 24px;
    }

    .section4 .content .Tratamento .tratamento-area {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        margin: 30px auto;
    }

    .section4 .content .Tratamento .tratamento-area img {
        width: 100%;
        height: 250px;
    }

    .section4 .content .Tratamento .tratamento-box {
        background-color: #fff9fd;
        margin: 5px;
        max-width: 400px;
    }

    .section4 .content .Tratamento .tratamento-text-box {
        padding: 10px;
    }

    .section4 .content .Tratamento .tratamento-text-box h3 {
        margin: 5px 0px 15px 0px;
    }

    .section4 .content .Tratamento .tratamento-text-box p {
        line-height: 24px;
        font-size: 14px;
    }
    




















    
    .section5 .content {
        padding: 50px 15px;
        display: flex;
        flex-direction: column;
        align-items: center;
        font-family: Montserrat;
        text-align: justify;
    }

    .section5 .content .title{
        border-bottom: 2px solid #000;
    }

    .section5 .content .comoFunciona{
        margin-top: 80px;
        width: 100%;
    }

    .section5 .content .confiavelEEficaz {
        margin-top: 30px;
    } 

    .section5 .content .comoFuncionaTitle h2,
    .section5 .content .confiavelEEficazTitle h2{
        font-size: 20px;
    }

    .section5 .content .comoFunciona p,
    .section5 .content .confiavelEEficaz p {
        margin-top: 10px;
        line-height: 24px;
        font-size: 14px;
    }

    .section5 .picture-atendimento{
        width: 100%;
        max-width: 680px;
        margin: 50px 0px;
    }
    














    .section6 {
        background-color: #cff5ff;
    }

    .section6 .content {
        padding: 50px 15px;
        display: flex;
        flex-direction: column;
        align-items: center;
        font-family: Montserrat;
        text-align: justify;
    }

    .section6 .content .title{
        border-bottom: 2px solid #000;
    }

    .section6 .depoimento-area {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        margin-top: 40px;
    }

    .section6 .depoimento-box{
        width: 100%;
        max-width: 400px;
        background-color: #fff9fd;
        margin: 5px;
        border-radius: 10px;
        display: flex;
        flex-direction: column;
    }

    .section6 .depoimento-box:nth-child(1),
    .section6 .depoimento-box:nth-child(2) {
        display: none;
    }

    .section6 .depoimento-box .data{
        display: flex;
        justify-content: space-between;
        align-items: flex-end;
    }

    .section6 .depoimento-box .data img{
        width: 60px;
        transform: rotate(180deg);
    }

    .section6 .depoimento-box .data h3{
        margin-right: 20px;
    }

    .section6 .depoimento-box .nome{
        margin-top: 10px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .section6 .depoimento-box .nome h2 {
        margin-left: 20px;
        font-size: 28px;
    }

    .section6 .depoimento-box .nome img{
        margin-right: 15px;
    }

    .section6 .depoimento-box .caixa-texto {
        width: 95%;
        padding: 10px;
        border-radius: 20px;
        margin: 10px;
    }

    .section6 .depoimento-box .caixa-texto p{
        line-height: 24px;
        font-size: 14px;
        text-align: left;
    }

    .section6 .agradecimento {
        margin: 30px 0px;
        line-height: 24px;
        font-size: 14px;
    }






    .section7 .content {
        padding: 50px 15px;
        display: flex;
        flex-direction: column;
        align-items: center;
        font-family: Montserrat;
        text-align: justify;
    }

    .section7 .content .title{
        border-bottom: 2px solid #000;
    }


    .section7 .duvidas-area {
        display: flex;
        flex-direction: column;
        margin-top: 50px;
        width: 100%;
        max-width: 950px;
    }


    .section7 .duvidas-box .botao {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-top: 30px;
        width: 100%;
        cursor: pointer;
    }

    .section7 .duvidas-box img {
        width: 30px;
    }

    .section7 .duvidas-box p {
        margin-top: 10px;
        padding: 10px;
        line-height: 28px;
        display: none;
        background-color: #cff5ff;
    }

    footer {
        background-color: #8cd0e3;
        padding: 15px;
    }

    footer .content {
        display: flex;
        flex-direction: column;
        align-items: center;
        font-family: Montserrat;

    }

    footer .content .mensagem .atencao {
        font-size: 18px;
    }

    footer .content .mensagem p{
        margin-bottom: 10px;
        text-align: center;
        font-size: 14px;
        line-height: 24px;
    }

}



@media(min-width: 330px) {
    .section7 .duvidas-box img {
        width: 35px;
    }


}




@media(min-width: 390px) {
    
    .section1 .logo {
        max-width: 450px;
    }

    .section1 .text-area {
        margin-top: 70px;
    }


    .section1 .text-area p{
        font-size: 14px;
    }

    .section1 .text-area h4 {
        margin-top: 70px;
    }

    .section1 .picture-magda {
        width: 90%;       
        max-width: 465px;
    }

    .section2 .content .title strong {
        font-size: 24px;
    }

}

@media (min-width: 425px) {
    .section1 .text-area h3 {
        font-size: 22px;
    }

    .section1 .text-area p {
        font-size: 16px;
    }
}

@media (min-width: 768px) {
    
    .title {
        font-size: 28px;
    }

    .section1 .text-area h3 {
        font-size: 26px;
    }

    .section1 .text-area h4 {
        margin-top: 65px;
        font-size: 18px;
    }

    .section1 .text-area p {
        font-size: 18px;
    }
    
    .section2 .content .title strong {
        font-size: 32px;
    }

    .section2 .content .title {
        font-size: 18px;
    }

    .section2 .content p {
        font-size: 18px;
        line-height: 32px;
    }
    
    .section2 .video-area {
        font-size: 18px;
    }

    .section2 .video {
        max-width: 560px;
        height: 325px;
    }
    
    .section3 .myself p {
        line-height: 32px;
        font-size: 18px;
    }

    .section3 .valores-area {
        display: flex;
        margin-bottom: 20px;
    }

    .section3 .valores {
        margin-left:30px;
    }

    .section3 .missao {
        margin-right: 30px;
    }

    .section4 .content .Tratamento {
        line-height: 32px;
        font-size: 18px
    }

    .section4 .content .minhaAbordagemTitle h2 {
        font-size: 21px;
    }

    .section4 .content .oQueE p, 
    .section4 .content .minhaAbordagem p {
        line-height: 32px;
        font-size: 18px;
    }

    .section4 .content .TCC .box .botao {
        font-size: 18px;
    }

    .section4 .content .Tratamento .tratamento-box {
        max-width: 355px;
    }

    .section5 .content .comoFuncionaTitle h2, 
    .section5 .content .confiavelEEficazTitle h2 {
        font-size: 24px;
    }

    .section5 .content .comoFunciona p, 
    .section5 .content .confiavelEEficaz p {
        line-height: 32px;
        font-size: 18px;
    }

    .section6 .depoimento-box {
        max-width: 350px;
    }

    .section6 .depoimento-box:nth-child(1),
    .section6 .depoimento-box:nth-child(2) {
        display: block;
    }

    .section6 .agradecimento {
        line-height: 32px;
        font-size: 16px;
        text-align: center;
    }

    .section7 .duvidas-box {
        font-size: 18px;
    }
}


@media (min-width: 1024px) {  

    .section1 .content {
        display: flex;
        flex-direction: column;
        justify-content: center;
        height: 700px !important;
    }

    .section1 .logo {
        max-width: 550px;
    }

    .section1 .text-img {
        display: flex;
        height: 400px;
        margin-top: 70px;
        justify-content: space-between;
    }

    .section1 .text-area {
        width: 55%;
        margin-top: 0px;
    }

    .section1 .picture-area {
        display: flex;
        justify-content: flex-end;
        width: 465px;

    }

    .section1 .picture-magda {
        width: 100%;
        margin-top: 0px;
    }

    .section2 {
        margin-top: 0px;
    }


    .section3 .missao p, 
    .section3 .valores p {
        margin-top: 20px;
        line-height: 24px;
        font-size: 16px;
    }

    .section4 .content .Tratamento .tratamento-box {
        max-width: 400px;
    }

    .section6 .depoimento-box {
        max-width: 400px;
    }
}

@media (min-width: 1270px) {
    .section1 .picture-magda {
        max-width: 640px;
    }
}


@media (min-width: 1440px) {    
    .section2 .video {
        max-width: 820px;
        height: 450px;
    }
}

